
.landing-container {
  display: flex;               /* نستخدم flexbox لتوزيع المحتوى */
  height: 100%;               /* عرض الشاشة بالكامل */
  align-items: center;         /* موازاة المحتويات عمودياً */
  justify-content: content;     /* موازاة المحتويات أفقياً */
  background-color: #f8f2e2;  /* خلفية فاتحة */
}

.image-section {
  flex: 1;                     /* تجعل الصورة تشغل نصف المساحة */
  display: flex;
  justify-content: content;     /* موازاة الصورة في المنتصف */
}

.image {
  width: 100%;                 /* الصورة تأخذ العرض بالكامل */
  height: auto;                /* الحفاظ على نسب الصورة */
  border-radius: 10px;         /* إضافة حواف مدورة للصورة */
}



.text-section {
  flex: 1;                     /* النص يشغل نصف المساحة */
  padding: 200px;               /* إضافة بعض الحواف حول النص */
  display: flex;
  flex-direction: column;      /* ترتيب النص بشكل عمودي */
  justify-content: content;     /* جعل النص في منتصف المساحة */
  text-align: center;          /* محاذاة النص في المنتصف */
}

.text-section h1 {
  font-size: 3em;              /* تكبير حجم العنوان */
  color: #6a4f3d;              /* اللون البني الدافئ */
  margin-bottom: 10px;         /* إضافة مسافة أسفل العنوان */
}

.text-section p {
  font-size: 1.5em;            /* تكبير حجم النص */
  color: #9b7e6e;              /* اللون الفاتح */
}

